<div *ngIf="dataLoaded==false" class="spinner-border text-secondary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
<thead style="color: crimson;">
  <tr>
    <th>Renkler</th>
  </tr>
</thead>

<!-- 
<table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Renk</th>
      </tr>
    </thead>
    <tr *ngFor="let color of colors">
      <td>{{color.colorId}}</td> 
      <td>{{color.name}}</td>
    </tr>
  </table>  -->
  
<ul class="list-group">
  <li (click)="setCurrentColor(color)" 
  routerLink = "/cars/color/{{color.colorId}}"
  *ngFor="let color of colors" class="list-group-item">{{color.name}}</li>
</ul>

