
<form class="row g-3">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">İsim</label>
    <input type="email" class="form-control" id="inputEmail4" />
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Soyisim</label>
    <input type="password" class="form-control" id="inputPassword4" />
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">E posta</label>
    <input
      type="text"
      class="form-control"
      id="inputAddress"
      placeholder="abc@abc.com"
    />
  </div>
  <div class="col-12">
    <label for="inputSirket" class="form-label">Şirket</label>
    <input type="text" class="form-control" id="inputSirket" />
  </div>
  <div class="col-md-2">
    <label class="form-label">Başlangıç Tarihi</label>
    <input
      type="date"
      class="form-control"
      id="inputAddress"
    />
  </div>
  <div class="col-md-2">
    <label for="inputZip" class="form-label">Bitiş Tarihi</label>
    <input
      type="date"
      class="form-control"
      id="inputAddress"
      
    />
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">İleri</button>
  </div>
</form>
