
<form class="row g-3">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">İsim</label>
    <input id type="text" class="form-control" id="inputIsım" />
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Soyisim</label>
    <input type="text" class="form-control" id="inputSoyisim" />
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">E posta</label>
    <input
      type="email"
      class="form-control"
      id="inputEposta"
      placeholder="abc@abc.com"
    />
  </div>
  <div class="col-12">
    <label for="inputSirket" class="form-label">Şirket</label>
    <input type="text" class="form-control" id="inputSirket" />
  </div>
  <div class="col-md-2">
    <label class="form-label">Başlangıç Tarihi</label>
    <input
      type="date"
      class="form-control"
      id="inputAddress"
    />
  </div>
  <div class="col-md-2">
    <label for="inputZip" class="form-label">Bitiş Tarihi</label>
    <input
      type="date"
      class="form-control"
      id="inputAddress"
      
    />
  </div>
  <div class="col-12">
    <button     
    type="submit" class="btn btn-primary">İleri</button>
  </div>
  <div class="row">
    <p id="deneme"></p>
  </div>
</form>

