<div class="mb-3">
  <label for="filterText" class="form-label">Araba ara</label>
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="arama ifadesi giriniz"
  />
</div>

<div class="row mb-2">
  <div class="col col-4">
    <select class="form-select" id="markasec" [(ngModel)]="currentBrand">
      <option [ngValue]="undefined" selected>Bütün Markalar</option>
      <option *ngFor="let brand of brands" value="{{ brand.brandId }}">
        {{ brand.name }}
      </option>
    </select>
  </div>

  <div class="col col-4">
    <select class="form-select" id="renksec" [(ngModel)]="currentColor">
      <option [ngValue]="undefined" selected>Bütün Renkler</option>
      <option *ngFor="let color of colors" value="{{ color.colorId }}">
        {{ color.name }}
      </option>
    </select>
    <br />
  </div>

  <div class="col col-2">
    <div>
      <a
        type="button"
        [routerLink]="['/cars']"
        [queryParams]="{ brandId: currentBrand, colorId: currentColor }"
        class="btn btn-primary"
        >Filtrele</a
      >
    </div>
  </div>

  <div class="col col-2">
    <a routerLink="" class="btn btn-danger">Temizle</a>
  </div>
</div>

<thead style="color: crimson">
  <tr>
    <th>Araçlar</th>
  </tr>
</thead>
<table class="table" >
  <thead>
    <tr>
      <th>Marka - Model</th>
      <th>Renk</th>
      <th>Günlük Ücreti</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars | filterCar: filterText">
      <td>{{ car.carName | uppercase }}</td>
      <td>{{ car.colorName }}</td>
      <td>{{ car.dailyPrice | currency }}</td>
      <td>
        <button
          routerLink="/cardetails" 
          [queryParams] = "{carId:car.carId}"
          
          class="btn btn-warning"
          type="button"
        >
          Detay
        </button>
      </td>
    </tr>
  </tbody>
</table>
